# Node
node_modules/
npm-debug.log*
yarn-error.log*
venv/
Pipfile
Pipfile.lock
lusck_code

# Env
.env.local

# PyCharm / IDE
.github
.idea/
.vscode/
.venv
.vercel

# OS
.DS_Store
Thumbs.db


.vercel
db

