:root {
    --corner-d: 32px;
    --bar-radius: 6px;
}

body {
    :root {
        --tg-viewport-height: 100vh;
        --tg-viewport-stable-height: 100vh;


    }

    html,
    body,
    #root {
        height: var(--tg-viewport-height, 100vh);
        min-height: var(--tg-viewport-height, 100vh);
    }

    @media (orientation: landscape) {
        body {
            transform: rotate(90deg);
            transform-origin: top left;
            width: 100vh;
            height: 100vw;
            position: absolute;
            top: 0;
            left: 0;
        }
    }


    /* Global user-select disable (safe cross-browser) */
    * {
        -webkit-user-select: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;




    }

    img {
        pointer-events: none;
        -webkit-user-drag: none;
        -webkit-touch-callout: none;
    }



    /* rasm markazda, qaytarilmasin, to'liq ekranni qoplasin */
    background-image: url('./image/background1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* desktop uchun; mobilda brauzer cheklashi mumkin */
    background-color: #06121a;
    /* rasm yuklanmasa fallback rang */
    color: white;

    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 10px;
}

.name {
    display: flex;
    padding-left: 8px;
    align-items: center
}

.nav .nav-indicator {
    /* width: 90px;
      height: 90px; */
    padding: 34px 50px 17px 43px;
    border-radius: 50%;
    background-color: #1f2f3a;
    position: absolute;
    top: -7px;
    left: calc(50% - 44px);
    transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1. 275);
    z-index: 10;

}

.li {
    font-weight: 700;
    flex: 1;
    z-index: 10;
}

.nav .li .tab .i {
    transition: 0.3s;
    transform: translateY(0)scale(1);
}

.nav .li .tab .nav-item-active .i {
    transform: translateY(0) scale(1);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav .tab.active .i {
    transform: translateY(-40%) scale(1.40);
}

.material-icons {
    font-size: 30px !important;
}

#filter {
    display: none;
}

/* NAV: hozir pastda paydo bo'ladi (fixed) */
.nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    bottom: 0px;
    height: 80px;
    width: 100%;
    background-size: cover;
    /*rasmni to‘liq qoplash */
    background-position: center;
    /*rasm markazlashtiriladi*/
    position: fixed;
    z-index: 100;

}

/* Circle orqali kesish */
.circle1 {
    display: flex;
    position: absolute;
    height: 101%;
    width: 100%;
    /* background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed; */
    z-index: 1;
    /* background-color: #1f2f3a; */
    transform: rotate(180deg);
    /* transform-origin: center; */

}

.bg-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Yozuvlarning orqasiga o'tkazish */
}

.circle2 {
    display: flex;
    position: fixed;
    height: 70px;
    width: 100%;
    margin-top: 20px;
    /* background-color: #1f2f3a; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
}

.tab {
    padding: 0 20%;
    margin-top: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}

.earncolor {
    background-color: #1f2f3a;
}

.diamond {
    font-size: 25px;
    margin-bottom: 8px;
    margin-top: 30px;
}

/*////////////////////////////////*/
.svgicon {
    height: 45px;
    width: 45px;
    transition: 0.3s ease;
    margin-top: -20px;
    animation: gift-a1e8b28b 3s linear infinite;
}

@keyframes gift-a1e8b28b {
    0% {
        transform: rotate(0)
    }

    23% {
        transform: rotate(0)
    }

    33% {
        transform: rotate(-8deg)
    }

    50% {
        transform: rotate(0)
    }

    67% {
        transform: rotate(8deg)
    }

    to {
        transform: rotate(0)
    }
}





/* RESPONSIVE LAYOUT */
:root {
    --header-height: 64px;
}

.header {
    width: 100%;
    height: 70px;
    padding: 50px 0;
    background-color: #1f2f3a;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.header {
    position: fixed;
    z-index: 10;
}

.header img {
    width: 35px;
}

.header .balance,
.profile {
    display: flex;
    font-weight: 700;
    color: #fff;
    font-size: 19px;
    margin-bottom: 5px;
    align-items: center;
    z-index: 10;
}

.balance {
    font-size: 15px;
    margin-right: 10px;
}

/* panel: yuqoridagi header uchun joy qoldirish va pastdagi nav uchun safe-area */
.panel {
    max-width: 420px;
    width: 90%;
    text-align: left;

    box-sizing: border-box;
}

/* tap-area va rasm responsivligi */
.tap-area {
    text-align: center;
    margin-top: 140px;
}

#tapBtn {
    width: 100%;
    max-width: 320px;
    height: auto;
    touch-action: manipulation;
    margin-top: -20px;
    pointer-events: painted;
}

#tabShop,
#tabSkins,
#tabEnergy {
    width: 100px;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tabShop:hover,
#tabSkins:hover,
#tabEnergy:hover {

    color: #ffe600;
}

/* .bton {
      transition: transform 0.1s ease, opacity 0.1s ease, color 0.1s ease;
    }

    .bton:active {
      transform: scale(0.90);

      opacity: 0.9;
    } */

/* Barcha tugmalar uchun umumiy klass */
.bton {
    /* 1. Havorang kvadratni yo'qotish */
    -webkit-tap-highlight-color: transparent;

    /* 2. Mobil brauzer kechikishini yo'qotish */
    touch-action: manipulation;

    /* 3. Bosilganda silliq kichrayish uchun */
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);

    /* 4. Matnni belgilashni taqiqlash (muhim!) */
    user-select: none;
    -webkit-user-select: none;
}

/* Faqat bosilgan holatda (active) */
.bton:active {
    color: #ffe600;
    /* 5. 7% ga kichraytirish (sezilarli bo'lishi uchun) */
    transform: scale(0.93) !important;

    /* Bir oz shaffoflik */
    opacity: 0.9;
}

.btn-group {
    display: flex;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-block: 1px solid #fff;
}

button.btn {
    color: #fff;
    padding: 10px 10px 10px 10px;
    background: rgba(8, 96, 211, 0.21);
    border-radius: 10px;
    margin-left: 80%;
}

.playGameBtn {
    color: #fff;
    padding: 10px 10px 10px 10px;
    background: rgba(8, 96, 211, 0.21);
    border-radius: 10px;
    margin-left: 20px;
}

/* nav safe-area */
/* .nav {
      bottom: calc(20px + env(safe-area-inset-bottom));
    } */

.reklanma {
    display: flex;
    margin: -10px 0px -16px 70px;
}

.reklanma2 {
    cursor: pointer;
}

.reklanma1 {
    display: flex;
    align-items: center;
    gap: 6px;
    background: rgba(0, 0, 0, 0.444);
    padding: 8px 8px;
    border-radius: 8px;
    font-weight: 600;
}

.shopImg {
    width: 52px;
    height: 52px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px;
}

.gameImg {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 8px;
}

.dailyImg {
    width: 50px;
    height: 60px;
    object-fit: contain;
}

.luckyImg {
    width: 55px;
    height: 60px;
    object-fit: contain;
}

/* Media queries: planshetlar */
@media (min-width:481px) and (max-width:1024px) {
    :root {
        --header-height: 60px;
    }

    .header img {
        width: 35px;
        margin-left: -5px;
    }



    #tapBtn {
        max-width: 240px;
    }


    /* eski #topLogo qoidasi o'rnini yangi header style oladi */
    /* header: full-width style — logo chap, balans oʻngda, orasida ochiq joy */
    .header {
        width: 100%;
        height: 70px;
        padding: 50px 0;
        background-color: #1f2f3a;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }


}

/* Media queries: telefonlar va planshetlar */
@media (max-width: 480px) {
    :root {
        --header-height: 56px;
    }

    .nav {
        gap: 1px;
    }

    .header {
        width: 100%;
        height: 70px;
        padding: 50px 0;
        background-color: #1f2f3a;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }

    .header img {
        width: 30px;
        margin-left: -5px;
    }

    .header .balance {
        font-size: 15px;
    }

    /* .panel {
        padding-top: calc(var(--header-height) + 8px);
        padding-bottom: calc(84px + env(safe-area-inset-bottom));
      } */

    #tapBtn {
        max-width: 280px;
    }

    button.btn,
    .input {
        font-size: 15px;
        padding: 12px;
    }

    .btn.buyShopBtn {
        margin-left: 30px;
    }

    .money {
        gap: 100px !important;
    }
}

@media (max-width: 420px) {
    .money {
        gap: 90px !important;
    }
}

@media (max-width: 320px) {
    :root {
        --header-height: 56px;
    }

    .tap-area {
        text-align: center;
        margin-top: 118px;
    }

    .diamond {
        font-size: 25px;
        margin-bottom: 8px;
        margin-top: 10px;
    }

    .nav {
        gap: 1px;
    }

    .header {
        width: 100%;
        height: 70px;
        padding: 50px 0;
        background-color: #1f2f3a;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }

    .header img {
        width: 30px;
        margin-left: -5px;
    }

    .header .balance {
        font-size: 15px;
    }

    /* .panel {
        padding-top: calc(var(--header-height) + 8px);
        padding-bottom: calc(84px + env(safe-area-inset-bottom));
      } */

    #tapBtn {
        max-width: 190px;
    }

    .shopImg {
        width: 42px;
        height: 42px;
        object-fit: cover;
        margin-bottom: 10px;
        border-radius: 8px;
    }

    .gameImg {
        width: 54px;
        height: 54px;
        object-fit: cover;
        border-radius: 8px;
    }

    .dailyImg {
        width: 40px;
        height: 50px;
        object-fit: contain;
    }

    .luckyImg {
        width: 45px;
        height: 50px;
        object-fit: contain;
    }

    button.btn,
    .input {
        font-size: 15px;
        padding: 12px;
    }

    .btn.buyShopBtn {
        margin-left: 30px;
    }

    .money {
        gap: 60px !important;
    }
}

#r {
    margin-top: 5px;
}

.PRS {
    font-size: 22px;
    font-weight: 700;
    color: #ffe600;
    text-shadow: 0.1em 0.1em 0 #696969, 0.03em 0.08em 0 #5b5858;
    z-index: 10;
    letter-spacing: 5px;
}

/* O'yin rejimida body markazlashuvini bekor qilish */
body.is-gaming {
    /* display: block !important; */
    /* yoki align-items: flex-start */
}

/* O'yin rejimida panelni to'liq ekranga yoyish */
.panel.is-gaming {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

</style><style>

/* Modal orqa foni */
.payment-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

/* Modal qutisi */
.payment-content {
    background: linear-gradient(145deg, #0b1a26, #08141e);
    padding: 25px;
    border-radius: 20px;
    /* border: 2px solid #ffd700; */
    text-align: center;
    width: 90%;
    max-width: 350px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
    animation: popIn 0.3s ease;
}

/* Tugmalar joylashuvi */
.payment-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

/* To'lov tugmalari */
.pay-option-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

.pay-option-btn:active {
    transform: scale(0.96);
}

.pay-option-btn img {
    width: 24px;
    height: 24px;
}

/* Ranglar */
.btn-ton-pay,
.btn-evm-pay,
.btn-stars-pay {
    background: linear-gradient(90deg, #0098EA, #0077b6);
}

/* Yopish tugmasi */
.close-modal-btn {
    background: transparent;
    border: 1px solid #5d7a96;
    color: #5d7a96;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
}

@keyframes popIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}