#keycontent .radius,
#keycontent .verification-input,
#keycontent .btn-submit,
#keycontent .btn {
    border-radius: 9px;
}

#keycontent .youtubepaf {
    margin: 10px;
    padding: 8px;
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

#keycontent .fa-brands {
    font-size: 40px;
    color: red;

}

#keycontent .lukcys h3 {
    position: absolute;
}

#keycontent .shaffof {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 10px 0 0 0;
    color: white;
}

#keycontent .shaffof .done {
    min-width: 8%;
}

#keycontent .key {
    width: 20px;
    height: 20px;
}

#keycontent .dflex {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

#keycontent .pop-dialog {
    display: flex;
    justify-content: center;
}


#keycontent .pop-main {
    padding: 18px 18px 3px;
    background: #282735;
    border-radius: 18px;
    text-align: center;
}

#keycontent .pop-main .energy__title {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-bottom: 3px
}

#keycontent .pop-main .invite-item {
    border-radius: .12rem;
    padding: .075rem .09rem;
    margin-bottom: .075rem;
    background: hsla(0, 0%, 100%, .15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

#keycontent .pop-main .invite-item.active .invite-arrow {
    color: #fff
}

#keycontent .pop-main .invite-item .invite-icon {
    width: 20px;
    height: 20px;
    border-radius: .095rem;
    background: hsla(0, 0%, 100%, .15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    font-size: .17rem;
    color: #fff;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden
}

#keycontent .pop-main .invite-item .invite-icon img {
    margin: auto;
    width: 100%;
    height: 100%
}

#keycontent .pop-main .invite-item .invite-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 2px
}

#keycontent .pop-main .invite-item .invite-info .invite__title {
    text-align: left;
    font-size: .115rem;
    font-weight: 300;
    color: hsla(0, 0%, 100%, .6)
}

#keycontent .pop-main .invite-item .invite-info .invite__intro {
    font-size: .12rem;
    line-height: 1.2;
    margin-top: .04rem;
    position: relative;
    z-index: 1;
    padding-right: 18px;
    text-align: left;
    font-weight: 700;
    color: #fff
}

#keycontent .pop-main .invite-item .invite-info .invite__intro span {
    color: hsla(0, 0%, 100%, .5);
    font-weight: 300;
    font-size: .12rem
}

#keycontent .pop-main .invite-item .invite-info .invite__intro img {
    position: absolute;
    left: 0;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: .13rem;
    height: .13rem
}

#keycontent .pop-main .invite-item .invite-info .invite__num {
    font-size: .13rem;
    margin-top: .04rem;
    position: relative;
    z-index: 1;
    font-weight: 300;
    text-align: left;
    font-weight: 700;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left
}

#keycontent .pop-main .invite-item .invite-info .invite__num span {
    color: hsla(0, 0%, 100%, .5);
    font-weight: 300;
    font-size: .12rem
}

#keycontent .pop-main .invite-item .invite-info .invite__num>img {
    width: 3px;
    height: 3px
}

#keycontent .pop-main .invite-item .invite-info .invite__num .invite__keys {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3px;
    line-height: 3px
}

#keycontent .pop-main .invite-item .invite-info .invite__num .invite__keys img {
    width: 18px;
    height: 18px;
    margin-left: 2px;
    margin-right: .025rem
}

#keycontent .pop-main .invite-item .invite-time {
    margin-left: .05rem
}

#keycontent .pop-main .invite-item .invite-arrow {
    font-size: 18px;
    color: hsla(0, 0%, 100%, .25)
}

#keycontent .pop-main .invite-item .invite-arrow .btn {
    font-size: 2px;
    color: #fff;
    background: #2464f6;
    border-radius: 18px;
    padding: 10px 6px;
}

#keycontent .pop-main .invite-item .invite-arrow.refresh .scoped-svg-icon {
    -webkit-animation: ref-4120186d 1s linear infinite;
    animation: ref-4120186d 1s linear infinite
}

@-webkit-keyframes ref-4120186d {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes ref-4120186d {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

#keycontent .pop-main .btns {
    margin-top: 2px
}


#keycontent .pop-main .btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

#keycontent .pop-main .btn {
    cursor: pointer;
    background: #2464f6;
    line-height: 50px;
    width: 100%;
    margin: 10px 0 10px 0;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

#keycontent .pop-main .btns .btn.dis {
    opacity: .5
}

#keycontent .pop-main .number-box {
    margin-bottom: 2px
}

#keycontent .pop-main .number-box .number__title {
    font-size: 10px;
    color: #fff
}

#keycontent .pop-main .number-box .number__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 18px;
    gap: 2px
}

#keycontent .pop-main .number-box .number__items .verification-input {
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: 6px solid #ebebeb;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

#keycontent .pop-main .number-box .number__items .verification-input:focus .verification-input:focus {
    outline: none;
    box-shadow: 0 0 .025rem #007bff
}

#keycontent .pop-main .tip {
    font-size: 2px;
    text-align: center;
    color: #fff;
    margin-bottom: 2px
}

#keycontent .pop-main .btn-submit {
    background: #2464f6;
    line-height: 50px;
    width: 100%;
    margin: auto;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

#keycontent a {
    text-decoration: none;
    color: inherit;
}

/* --- YANGI: Modal styling --- */
#keycontent #pop {
    display: none;
    /* default hidden */
    position: fixed;
    inset: 0;
    z-index: 10000;
}

#keycontent #pop.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

#keycontent #pop .shadow {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.801);
}

#keycontent #pop .dialog-main {
    position: relative;
    z-index: 1;
    background: transparent;
    max-height: 85vh;
    overflow-y: auto;
}

#keycontent #pop .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    z-index: 2;
}

#keycontent #pop .btn-close:hover {
    background: rgba(0, 0, 0, 0.5);
}

#keycontent #pop .btn-close svg {
    width: 24px;
    height: 24px;
    fill: white;
}



#keycontent .pop-main .upsubmit .youtubetext p {
    font-size: 14px;
    text-align: left;
}

#keycontent .pop-main .upsubmit .dflex span {
    font-size: 14px;
}

#keycontent .material-icons-outlined {
    color: #888888;
}

#keycontent .lukcys {
    align-items: center;
    display: flex;
    justify-content: center;
}